@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 25px;

////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-second: "Noto Serif JP", serif;
}

:root {
  --inner-padding: 25px;
}

// ※検証ツールでしっかり反映されているか確認する


// フォントウェイト
:root {
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --text-gray: #808080;
  --main-blue: #2E3192;
  --main-red: #c50018;
  --main-yellow: #FFE200;
  --bg-gray: #F2F2F2;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-to-top: 200;
  --z-index-drawer: 1000;
  --z-index-header: 10000;
  --z-index-hamburger: 2000;
  --z-index-modal: 10000;
}

////////////////////
// レスポンシブ
///////////////////
:root {
  --cq-ref-mobile: 375;
  --cq-ref: 1440;
  --fluid-basis-mobile: (100vw - 320px) / (375 - 320);
  --fluid-basis: (100vw - 768px) / (1440 - 768);
  --fluid-basis-2: (100vw - 1440px) / (1800 - 1440);
}

////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-long: 0.6s;
  --duration-fv: 0.7s;

  --ease-smooth-bounce: cubic-bezier(.48, .07, .33, .79);
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--black);
  font-family: var(--font-family-base);
}