@use "global"as *;

.header {
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
background-color: transparent;
z-index: var(--z-index-header);
height: rem(80);
transition: background-color var(--duration-short) ease;
@include mq('md') {
height: rem(129);
}
}

.header.is-scroll {
  background-color: rgba(0, 19, 97, 0.7);
  transition: background-color var(--duration-short) ease;
}

.header.is-open {
  background-color: var(--main-blue);
  transition: background-color var(--duration-short) ease;
  transition-delay: .1s;

}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
padding-inline: rem(8) rem(15);
height: 100%;
@media (min-width: 1000px) {
  padding-inline: rem(30) rem(94);
}
}

.header__logo-link {
display: grid;
grid-template-columns: rem(54) 1fr;
align-items: center;
gap: rem(5);
transition: opacity var(--duration-base) ease;
@include mq('md') {
  grid-template-columns: rem(100) 1fr;
gap: rem(10);
}

@media (any-hover: hover) {
&:hover {
  opacity: 0.8;
}
}
}

.header__logo-img {
height: auto;
object-fit: contain;
}

.header__catchcopy {
display: flex;
flex-direction: column;
}

.header__catchcopy-sub {
font-size: rem(10);
font-weight: var(--font-weight-semibold);
color: var(--white);
letter-spacing: .02em;
transition: color var(--duration-short) ease;
@include mq('md') {
font-size: clamp(10px, calc(10px + 4 * var(--fluid-basis)), 14px);
}
}

.header__catchcopy-main {
font-size: rem(12);
font-weight: var(--font-weight-bold);
color: var(--white);
letter-spacing: .02em;
transition: color var(--duration-short) ease;
@include mq('md') {
font-size: clamp(12px, calc(12px + 4 * var(--fluid-basis)), 16px);
}
}

.header__nav {
  margin-top: rem(-20);
@media (max-width: 999px) {
display: none;
}
}

.header__nav-list {
display: flex;
align-items: center;
gap: clamp(10px, calc(10px + 50 * var(--fluid-basis)), 60px);
}


.header__nav-link {
font-size: rem(16);
font-weight: var(--font-weight-bold);
color: var(--white);
letter-spacing: .08em;
text-align: center;
position: relative;
transition: color var(--duration-short) ease;
@include mq('md') {
font-size: clamp(12px, calc(12px + 4 * var(--fluid-basis)), 16px);
}
}

.header__nav-link:not(.header__cta)::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: rem(-2);
  width: 100%;
  height: 2px;
  background-color: currentColor;
  opacity: .5;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.6s cubic-bezier(0.6, 0, 0, 1);
}


.header__nav-link:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}
.header__nav-item--cta {
margin-left: rem(40);
}

.header__cta {
transition: filter var(--duration-base) ease;
padding-block: rem(20);
@media (any-hover: hover) {
&:hover {
  filter: brightness(1.1);
}
}
}

.header__cta-text {
position: relative;
}

.header__cta-text::before {
content: '';
position: absolute;
top: -50%;
left: 50%;
translate: -50% -50%;
width: rem(220);
aspect-ratio: 1;
background-color: var(--main-red);
z-index: -1;
border-radius: calc(infinity * 1px);
}

.header__menu-btn {
  display: flex;
  flex-direction: column;
  width: rem(27);
  gap: rem(5);
  height: rem(27);
  position: relative;
  @include mq('md') {
  width: 27px;
  gap: 5px;
  }
@media (min-width: 1000px) {
display: none;
}

&.is-open {
  width: rem(35);
  .header__menu-btn-line-top {
    transform: rotate(45deg);
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  .header__menu-btn-line-bottom {
    transform: rotate(-45deg);
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}
}

.header__menu-btn-line-top { 
width: 100%;
height: rem(7);
background-color: var(--white);
transition: background-color var(--duration-short) ease;
@include mq('md') {
height: 7px;
}
}

.header__menu-btn-line-bottom {
width: 100%;
height: rem(12.5);
background-color: var(--white);
transition: background-color var(--duration-short) ease;
@include mq('md') {
height: 12.5px;
}
}

.header--sub {
  .header__catchcopy-sub {
    color: var(--black);
  }

  .header__catchcopy-main {
    color: var(--black);
  }

  .header__nav-link:not(.header__cta) {
    color: var(--black);
  }

  .header__menu-btn-line-top {
    background-color: var(--black);
  }

  .header__menu-btn-line-bottom {
    background-color: var(--black);
  }

  &.is-scroll {
    .header__catchcopy-sub {
      color: var(--white);
    }

    .header__catchcopy-main {
      color: var(--white);
    }

    .header__nav-link:not(.header__cta) {
      color: var(--white);
    }

    .header__menu-btn-line-top {
      background-color: var(--white);
    }

    .header__menu-btn-line-bottom {
      background-color: var(--white);
    }
  }

  &.is-open {
    .header__catchcopy-sub {
      color: var(--white);
    }

    .header__catchcopy-main {
      color: var(--white);
    }

    .header__menu-btn-line-top {
      background-color: var(--white);
    }

    .header__menu-btn-line-bottom {
      background-color: var(--white);
    }
  }
}