@use "global" as *;

.link-area {
display: grid;
grid-template-columns: 1fr;
@include mq('md') {
grid-template-columns: repeat(2, 1fr);
}
}

.link-area__item {
transition: opacity var(--duration-base) ease;
@media (any-hover: hover) {
&:hover {
 opacity: 0.8;
}

&:hover .link-area__item-icon {
  transform: translateX(rem(5));
}
}
}

.link-area__item--faq {
background-color: var(--main-blue);
}

.link-area__item-link {
display: flex;
align-items: center;
gap: rem(5);
justify-content: center;
align-items: center;
padding-block: rem(20);
@include mq('md') {
padding-block: rem(40);
gap: rem(10);
}
}

.link-area__item-text {
  font-size: rem(18.6);
  letter-spacing: 0.06em;
  font-weight: var(--font-weight-semibold);
  color: var(--white);
@include mq('md') {
font-size: clamp(23px, calc(23px + 10 * var(--fluid-basis)), 33px);
}
}

.link-area__item-icon {
transition: transform var(--duration-base) ease;
width: rem(14.6);
@include mq('md') {
width: rem(26);
}
}

.link-area__item-icon-img {
height: auto;
object-fit: contain;
}

.link-area__item--entry {
background-color: var(--main-red);
}


