@use "global"as *;

.to-top {
  position: fixed;
  right: rem(20);
  bottom: rem(20);
  width: rem(34);
  cursor: pointer;
  z-index: var(--z-index-to-top);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

  &.js-active {
    opacity: 1;
    visibility: visible;
  }

  @include mq('md') {
    right: rem(30);
    bottom: rem(40);
    width: rem(44);
  }

  @media (any-hover: hover) {
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.to-top__img {
  height: auto;
  object-fit: contain;
}