@use "global" as *;
.mv {
height: clamp(300px, calc((#{"520 * 100"} / var(--cq-ref-mobile) * 1cqw)), 800px);
position: relative;
container-type: inline-size;
@include mq('md') {
  height: 100vh;
max-height: rem(900);
}
}

.mv__title {
position: absolute;
top: 57%;
left: 50%;
translate: -50% -50%;
z-index: 10;
width: clamp(200px, calc((#{"336 * 100"} / var(--cq-ref-mobile) * 1cqw)), 436px);
@include mq('md') {
  top: 54%;
width: clamp(200px, calc((#{"1063 * 100"} / var(--cq-ref) * 1cqw)), 1200px);
}
}

.mv__title-img {
height: auto;
object-fit: contain;
}

.mv__inner {
height: 100%;
}

.mv__swiper {
height: 100%;
}

.mv__swiper-wrapper {
height: 100%;
}

.mv__swiper-slide {
height: 100%;
}


.mv__slide-img {
height: 100%;
object-fit: cover;
}

.mv__swiper .swiper-slide.swiper-slide-active .mv__slide-img,
.mv__swiper .swiper-slide.swiper-slide-duplicate-active .mv__slide-img,
.mv__swiper .swiper-slide.swiper-slide-prev .mv__slide-img {
  animation: scale 8s linear 0s normal both;
  transform-origin: left bottom;
}

@keyframes scale {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}

.mv__scroll-down {
  position: absolute;
  z-index: 100;
display: flex;
flex-direction: column;
align-items: center;
bottom: rem(60);
right: rem(10);
  @include mq('md') {
    bottom: rem(80);
    right: rem(30);

  }
}