@use "global" as *;

.top-news {
padding-block: rem(35) rem(29);
@include mq('md') {
padding-block: rem(120) rem(106);
}
}

.top-news__inner {
margin-inline: auto;
padding-inline: var(--inner-padding);
max-width: 500px;
@include mq('md') {
max-width: calc(1023px + var(--inner-padding) * 2);
}
}

.top-news__content {
display: grid;
grid-template-columns: 1fr;
@include mq('md') {
grid-template-columns: 191fr 746fr;
gap: rem(60);
align-items: center;
}
}

.top-news__head {
display: grid;
grid-template-columns: 1fr;
@media (max-width: 767px) {
grid-template-areas: "logo" "title";
}
}

.top-news__title-wrap {
display: flex;
flex-direction: column;
align-items: center;
@media (max-width: 767px) {
grid-area: title;
margin-top: rem(10);
}
}

.top-news__title {
@media (max-width: 767px) {
width: rem(103);
}
}

.top-news__title-img {
height: auto;
object-fit: contain;
}

.top-news__subtitle {
font-size: rem(12);
font-weight: var(--font-weight-bold);
letter-spacing: 0.06em;
margin-top: rem(3);
@include mq('md') {
  font-size:  max(10px, rem(12));
  margin-top: rem(10);
}
@media (min-width: 1440px) {
  font-size: clamp(12px, calc(12px + 1 * var(--fluid-basis-2)), 13px);
}
}

.top-news__logo-wrap {
  margin-inline: auto;
  width: rem(65);
  margin-inline: auto;
  @media (max-width: 767px) {
  grid-area: logo;
  }
@include mq('md') {
margin-top: rem(30);
width: rem(164);
}
}

.top-news__logo-img {
height: auto;
object-fit: contain;
}

.top-news__list {
display: flex;
flex-direction: column;
@media (max-width: 767px) {
margin-top: rem(26);
}
}


.top-news__item:first-child .top-news__link {
  @media (max-width: 767px) {
  border-top: 1px solid #0000006a;
  }
  @include mq('md') {
  padding-top: 0;
  }
}

.top-news__link {
  display: block;
  border-bottom: 1px solid #0000006a;
  padding-block: rem(15) rem(17);
  padding-right: rem(10);
  @include mq('md') {
    padding-block: rem(25);
  }
  @media (any-hover: hover) {
  &:hover .top-news__icon{
    transform: translateX(rem(5));
  }

  &:hover .top-news__item-title {
   color: var(--main-red);
  }

  &:hover .top-news__date {
    color: var(--main-red);
  }
  }
}

.top-news__date {
font-size: rem(10);
font-weight: var(--font-weight-semibold);
color: var(--text-gray);
letter-spacing: 0.06em;
transition: color var(--duration-base) ease;
@include mq('md') {
font-size: rem(12);
}
}

.top-news__text-wrap {
display: grid;
grid-template-columns: 1fr max-content;
gap: rem(10);
align-items: center;
@include mq('md') {
  margin-top: rem(10);
}
}

.top-news__item-title {
font-size: rem(14);
font-weight: var(--font-weight-bold);
color: var(--black);
letter-spacing: 0.06em;
transition: color var(--duration-base) ease;
line-clamp: 3;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 3;
-webkit-box-orient: vertical;
@include mq('md') {
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
}

.top-news__icon {
width: rem(16);
transition: transform var(--duration-base) ease;
}

.top-news__icon-img {
height: auto;
object-fit: contain;
}


.top-news__list.is-active {
  & .top-news__item {
    opacity: 1;
      translate: 0 0;
    }
  }

  
.top-news__list .top-news__item {
  opacity: 0;
  translate: 10px 0;
  transition: opacity 1s ease-in-out, translate 1s ease-in-out;
  &:nth-child(1) {
    @include mq('md') {
      transition-delay: 0.1s;
    }
  }
  &:nth-child(2) {
    transition-delay: 0.2s;
    @include mq('md') {
      transition-delay: 0.3s;
    }
  }
  &:nth-child(3) {
    transition-delay: 0.4s;
    @include mq('md') {
      transition-delay: 0.5s;
    }
  }
}