@use "global" as *;
.news {
padding-block: rem(27) rem(32);
@include mq('md') {
padding-block: rem(79) rem(120);
}
}

.news__inner {
margin-inline: auto;
padding-inline: var(--inner-padding);
max-width: 500px;
@include mq('md') {
max-width: calc(1000px + var(--inner-padding) * 2);
}
}

.news__content {
border: 2px solid #CCCCCC;
border-radius: 20px;
padding: rem(30) rem(23) rem(14) rem(23);
@include mq('md') {
padding: rem(103) rem(140) rem(66) rem(140);
}
}

.news__list {
  display: flex;
  flex-direction: column;
}

.news__item:first-child .news__link {
  @media (max-width: 767px) {
  padding-top: 0;
  }
  @include mq('md') {
    border-top: 1px solid #0000006a;
  }
}

.news__item:last-child .news__link {
  @media (max-width: 767px) {
  border-bottom: none;
  }
}

.news__link {
  display: block;
  border-bottom: 1px solid #0000006a;
  padding-block: rem(15) rem(12);
  padding-right: rem(10);
  display: grid;
grid-template-columns: 1fr max-content;
gap: rem(10);
align-items: center;
  @include mq('md') {
    padding-block: rem(22) rem(18);
    padding-right: rem(22);
  }
  @media (any-hover: hover) {
  &:hover .news__item-icon{
    transform: translateX(rem(5));
  }

  &:hover .news__item-title {
   color: var(--main-red);
  }

  &:hover .news__item-date {
    color: var(--main-red);
  }
  }
}

.news__item-text {
display: flex;
flex-direction: column;
gap: rem(5);
@include mq('md') {
  gap: rem(15);
}
}

.news__item-date {
  font-size: rem(9.5);
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray);
  letter-spacing: 0.06em;
  transition: color var(--duration-base) ease;
  @include mq('md') {
  font-size: rem(14);
  }
}

.news__item-title {
  font-size: rem(10.73);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  letter-spacing: 0.04em;
  transition: color var(--duration-base) ease;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @include mq('md') {
    font-size: rem(16);
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}

.news__item-icon {
  width: rem(16);
  transition: transform var(--duration-base) ease;
  @include mq('md') {
  width: rem(24);
  }
}

.news__item-icon-img {
  height: auto;
  object-fit: contain;
}

.news__pagination {
  margin-top: rem(15);
  @include mq('md') {
    margin-top: rem(47);
  }
}

.news__pagination--pc {
 @media (max-width: 767px) {
  display: none;
 }
}

.news__pagination--sp {
 @include mq('md') {
  display: none;
 }
}