@use "global" as *;

.not-found {
  margin-top: rem(50);
  padding-bottom: rem(56.6);
  @include mq('md') {
    margin-top: rem(85);
    padding-bottom: rem(109.6);
  }
}

.not-found__inner {
  margin-inline: auto;
  max-width: 500px;
  padding-inline: var(--inner-padding);
  @include mq('md') {
    max-width: calc(902px + var(--inner-padding) * 2);
  }
}

.not-found__title {
  font-size: rem(20);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  letter-spacing: calc(2.0 / 20 * 1em);
  text-align: center;
  @include mq('md') {
    font-size: rem(25);
  }
}

.not-found__text {
  font-size: rem(15);
  font-weight: var(--font-weight-semibold);
  line-height: 2;
  letter-spacing: calc(1.5 / 15 * 1em);
  text-align: center;
  margin-top: rem(23);
  @include mq('md') {
    font-size: rem(16);
    margin-top: rem(33);
  }
}

.not-found__top-link-wrap {
  text-align: center;
  margin-top: rem(33);
  @include mq('md') {
    margin-top: rem(43);
  }
}

.not-found__top-link-btn {
  background-color: var(--black);
  color: var(--white);
  padding: rem(15) rem(50);
  font-size: rem(14.5);
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.06em;
  transition: color var(--duration-base) ease;
  position: relative;
  transition: background-color var(--duration-base) ease;
  @include mq('md') {
  font-size: rem(18);
  padding: rem(16) rem(73);
  }
  
  @media (any-hover: hover) {
  
    &:hover::after {
      transform: translateY(-50%) translateX(5px);
    }
    &:hover {
      background-color: var(--main-red);
    }
  }
}